.card shadow-sm mb-4 {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35%;
    box-sizing: border-box;
}

.text{
    text-align: center;
    color : firebrick
}

.mb-3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.formulario {
    margin-bottom: 40px;
}
.button{
    margin-top: 10px;
    margin-right: 10px;
    background-color: blue;
    color: white;
}
